h3{
    font: 24px !important;
}

.btn-success:hover{
    background-color:royalblue;
}

canvas{
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {box-shadow: 1px 3px 38px  #ff1100;} 
    to {box-shadow: 1px 3px 38px #00f7ff;}
}